<!doctype html>
<html class="no-js" lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock %} - {{ _('D2D Survey') }}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  {% endblock %}
</head>

<body>
  <div class="top-bar">
    {% if request.view_args['page'] != 'index' %}
    <div class="top-bar-left">
      <a class="site-title" href="{{ url_for('frontend.static', page='index') }}">{{_('Home')}}</a>
    </div>
    {% endif %}

    <div class="top-bar-right">
      <ul class="menu align-right">
        <li><a href="{{ url_for('frontend.static', page=request.view_args['page'], lang_code='fr') }}" class="clear button">Français 🇫🇷</a></li>
        <li><a href="{{ url_for('frontend.static', page=request.view_args['page'], lang_code='en') }}" class="clear button active">English 🇬🇧</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      {% for (category, message) in get_flashed_messages(with_categories=true) %}
      <div class="flash large-12 cell">
        {% if category == 'error' %}
        <div class="alert callout flashed-message">
          {{ message }}
        </div>
        {% elif category == 'warning' %}
        <div class="warning callout flashed-message">
          {{ message }}
        </div>
        {% else %}
        <div class="primary callout flashed-message">
          {{ message }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <header id="header">
      <div class="grid-x grid-padding-x align-justify">
        <div class="small-12 medium-6 large-auto cell">
          <h1>{% block page_title %}{% endblock %}</h1>
        </div>
        <div class="small-12 medium-6 large-shrink cell">
          <h1 class="subtitle text-right"><small>{% block page_subtitle %}{% endblock %}</small></h1>
        </div>
      </div>
    </header>

    <section id="content">
      {% block content %}{% endblock %}

      {# DEBUG
      <ul>
        <li>Endpoint: {{ request.endpoint }}</li>
        <li>Path: {{ request.path }}</li>
        <li>View args: {{ request.view_args }}</li>
        <li>Values: {{ request.values }}</li>
        <li>Config: {{ config }}</li>
      </ul>
      #}
    </section>


    <footer id="footer">
      {% block footer %}
      <div class="grid-x grid-padding-x align-justify">
        <div class="small-12 medium-6 cell">
          <ul class="menu simple align-left">
            <li><a href="{{ url_for('frontend.static', page='project') }}">{{_('Project description')}}</a></li>
            <li><a href="{{ url_for('frontend.static', page='privacy') }}">{{_('Privacy policy')}}</a></li>
          </ul>
        </div>

        <div class="small-12 medium-6 cell">
          <p class="license">
            {{ _("This website's <a target='_blank' href='https://gitlab.inria.fr/Spirals/d2d-survey-site'>source code</a> is in the <a href='https://creativecommons.org/publicdomain/zero/1.0/' target='_blank'>public domain</a>.") }}
          </p>
        </div>
      </div>
      {% endblock %}
    </section>
  </div>

  <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
</body>

</html>