.top-bar .site-title {
  font-weight: bold;
  color: #fefefe;
  font-size: 1.6rem;
}

.top-bar .top-bar-right .menu li .button {
  margin-left: .5rem;
}

.flashed-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footer {
  border-top: 1px solid #888;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#footer .menu {
  padding-bottom: 1rem;
}

#footer .menu a {
  line-height: inherit;
}

#footer .license {
  text-align: right;
}

#contribute {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

#contribute>.button {
  font-size: 1.5rem;
}

.asterisk::after {
  content: " ⋆";
  font-size: 1.25rem;
  font-weight: bold;
  color: #900000;
}

#the-poll fieldset {
  padding:  1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
#the-poll fieldset legend {
  padding: .5rem;
}
#the-poll input {
  margin-bottom: 0;
}
#the-poll label {
  padding-bottom: .5rem;
  padding-right:  .5rem;
}
#the-poll input[type="submit"] {
  margin-left: 1rem;
  font-size: 1.5rem;
}

#the-poll details {
  border:  1px solid #13161b;
  border-radius: .5rem;
  margin-bottom: 4rem;
}
#the-poll details > summary {
  padding: 1rem;
  cursor:  pointer;
  background: #e6e6e6;
  border-radius: .5rem;
}

#the-poll details > summary > h4 {
  display:  inline-block;
  margin-bottom:  0;
}
#the-poll details > fieldset:last-of-type {
  margin-bottom: 1rem;
}

.logos {
  margin: 2rem;
}
.logos img {
  padding: 1rem;
  max-width: 400px;
  max-height:  200px;
}