{% extends "base.html" %}

{% block title %}{{_('Poll')}}{% endblock %}

{% block page_title %}
{{_('The poll')}}
{% endblock %}

{% block page_subtitle %}
{{_('Give your opinion to science!')}}
{% endblock %}

{%- macro was_checked_radio(field, value) -%}
{%- if prev_ans and prev_ans[field] == value -%}checked{% endif %}
{%- endmacro -%}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>{{ _("
      The following poll comprises <b>13</b> questions. Some are mandatory and end with an asterisk <span class='asterisk'></span>, the others are not.
    ") }}</p>

    <form id="the-poll" method="post" action="/{{ g.lang_code }}/form">
    {# <form id="the-poll" method="post"> #}
      <h2>{{_('Your usage of information technologies')}}</h2>

      {### ABOUT USER ###}

      <fieldset>
        <legend class="asterisk">{{_("
          How would you describe <b>your frequency of use</b> of digital devices (mobile phone, tablet, computer, connected objects...)?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-usage-frequency" value="1" id="it-usage-frequency-1" required {{ was_checked_radio("it-usage-frequency", "1") }}>
            {{ _("Very rare") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-usage-frequency" value="2" id="it-usage-frequency-2" {{ was_checked_radio("it-usage-frequency", "2") }}>
            {{ _("Rare") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-usage-frequency" value="3" id="it-usage-frequency-3" {{ was_checked_radio("it-usage-frequency", "3") }}>
            {{ _("Occasional") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-usage-frequency" value="4" id="it-usage-frequency-4" {{ was_checked_radio("it-usage-frequency", "4") }}>
            {{ _("Frequent") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-usage-frequency" value="5" id="it-usage-frequency-5" {{ was_checked_radio("it-usage-frequency", "5") }}>
            {{ _("Very frequent") }}
          </label></div>
        </div>
      </fieldset>

      <fieldset>
        <legend class="asterisk">{{_("
          How would you describe <b>your knowledge in computer sciences</b>?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-knowledge" value="1" id="it-knowledge-1" required {{ was_checked_radio("it-knowledge", "1") }}>
            {{ _("Novice<br>
            <em>I hardly know the subject.</em> ") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-knowledge" value="2" id="it-knowledge-2" {{ was_checked_radio("it-knowledge", "2") }}>
            {{ _("Beginner<br>
            <em>I have limited knowledge in computer sciences.</em>") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-knowledge" value="3" id="it-knowledge-3" {{ was_checked_radio("it-knowledge", "3") }}>
            {{ _("Experienced user<br>
            <em>By force of use, I'm proficient in computer sciences.</em>") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-knowledge" value="4" id="it-knowledge-4" {{ was_checked_radio("it-knowledge", "4") }}>
            {{ _("Enthusiast<br>
            <em>I like to enquire about computer sciences, and/or to tinker with information technologies in my free time.</em>") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="it-knowledge" value="5" id="it-knowledge-5" {{ was_checked_radio("it-knowledge", "5") }}>
            {{ _("Professional<br>
            <em>Computer sciences are my primary field of study. Through my education or activity, I have advanced knowledge on the subject.</em>") }}
          </label></div>
        </div>
      </fieldset>

      {# DOCUMENTS EXCHANGE FREQUENCY #}

      <h2>{{_('Your usage of direct device-to-device (D2D) communication')}}</h2>
      <p>{{_("
        We <b>do not</b> take interest in Bluetooth speakers or headphones, only in the exchange of documents between devices.
      ")}}</p>

      <fieldset>
        <legend class="asterisk">{{_("
          How often do you need to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="exchange-need-frequency" value="1" id="exchange-need-frequency-1" required {{ was_checked_radio("exchange-need-frequency", "1") }}>
            {{ _("Never") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="exchange-need-frequency" value="2" id="exchange-need-frequency-2" {{ was_checked_radio("exchange-need-frequency", "2") }}>
            {{ _("Once a year or more") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="exchange-need-frequency" value="3" id="exchange-need-frequency-3" {{ was_checked_radio("exchange-need-frequency", "3") }}>
            {{ _("Once a month or more") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="exchange-need-frequency" value="4" id="exchange-need-frequency-4" {{ was_checked_radio("exchange-need-frequency", "4") }}>
            {{ _("Once a week or more") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="exchange-need-frequency" value="5" id="exchange-need-frequency-5" {{ was_checked_radio("exchange-need-frequency", "5") }}>
            {{ _("Everyday") }}
          </label></div>
        </div>
      </fieldset>

      {### BLUETOOTH ###}

      <fieldset>
        <legend class="asterisk">{{_("
          Do you use <b>Bluetooth</b> to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-frequency" value="1" id="bluetooth-usage-frequency-1" required {{ was_checked_radio("bluetooth-usage-frequency", "1") }}>
            {{ _("Never") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-frequency" value="2" id="bluetooth-usage-frequency-2" {{ was_checked_radio("bluetooth-usage-frequency", "2") }}>
            {{ _("Rarely") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-frequency" value="3" id="bluetooth-usage-frequency-3" {{ was_checked_radio("bluetooth-usage-frequency", "3") }}>
            {{ _("Occasionally") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-frequency" value="4" id="bluetooth-usage-frequency-4" {{ was_checked_radio("bluetooth-usage-frequency", "4") }}>
            {{ _("Frequently") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-frequency" value="5" id="bluetooth-usage-frequency-5" {{ was_checked_radio("bluetooth-usage-frequency", "5") }}>
            {{ _("Every time") }}
          </label></div>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{_("
          Are you satisfied with the usability of <b>Bluetooth</b> to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="1" id="bluetooth-usage-satisfaction-1" {{ was_checked_radio("bluetooth-usage-satisfaction", "1") }}>
            {{ _("Very dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="2" id="bluetooth-usage-satisfaction-2" {{ was_checked_radio("bluetooth-usage-satisfaction", "2") }}>
            {{ _("Dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="3" id="bluetooth-usage-satisfaction-3" {{ was_checked_radio("bluetooth-usage-satisfaction", "3") }}>
            {{ _("Neutral") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="4" id="bluetooth-usage-satisfaction-4" {{ was_checked_radio("bluetooth-usage-satisfaction", "4") }}>
            {{ _("Satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="5" id="bluetooth-usage-satisfaction-5" {{ was_checked_radio("bluetooth-usage-satisfaction", "5") }}>
            {{ _("Very satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="bluetooth-usage-satisfaction" value="0" id="bluetooth-usage-satisfaction-0" {{ was_checked_radio("bluetooth-usage-satisfaction", "0") }}>
            <em>{{ _("Does not apply") }}</em>
          </label></div>
        </div>
      </fieldset>

      {### EXTERNAL STORAGE ###}
      
      <fieldset>
        <legend class="asterisk">{{_("
          Do you use <b>external storage devices</b> (hard drive, USB stick...) to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-frequency" value="1" id="ext-storage-usage-frequency-1" required {{ was_checked_radio("ext-storage-usage-frequency", "1") }}>
            {{ _("Never") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-frequency" value="2" id="ext-storage-usage-frequency-2" {{ was_checked_radio("ext-storage-usage-frequency", "2") }}>
            {{ _("Rarely") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-frequency" value="3" id="ext-storage-usage-frequency-3" {{ was_checked_radio("ext-storage-usage-frequency", "3") }}>
            {{ _("Occasionally") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-frequency" value="4" id="ext-storage-usage-frequency-4" {{ was_checked_radio("ext-storage-usage-frequency", "4") }}>
            {{ _("Frequently") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-frequency" value="5" id="ext-storage-usage-frequency-5" {{ was_checked_radio("ext-storage-usage-frequency", "5") }}>
            {{ _("Every time") }}
          </label></div>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{_("
          Are you satisfied with the usability of <b>external storage devices</b> (hard drive, USB stick...) to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="1" id="ext-storage-usage-satisfaction-1" {{ was_checked_radio("ext-storage-usage-satisfaction", "1") }}>
            {{ _("Very dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="2" id="ext-storage-usage-satisfaction-2" {{ was_checked_radio("ext-storage-usage-satisfaction", "2") }}>
            {{ _("Dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="3" id="ext-storage-usage-satisfaction-3" {{ was_checked_radio("ext-storage-usage-satisfaction", "3") }}>
            {{ _("Neutral") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="4" id="ext-storage-usage-satisfaction-4" {{ was_checked_radio("ext-storage-usage-satisfaction", "4") }}>
            {{ _("Satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="5" id="ext-storage-usage-satisfaction-5" {{ was_checked_radio("ext-storage-usage-satisfaction", "5") }}>
            {{ _("Very satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="ext-storage-usage-satisfaction" value="0" id="ext-storage-usage-satisfaction-0" {{ was_checked_radio("ext-storage-usage-satisfaction", "0") }}>
            <em>{{ _("Does not apply") }}</em>
          </label></div>
        </div>
      </fieldset>

      {### CLOUD ###}
      
      <fieldset>
        <legend class="asterisk">{{_("
          Do you use <b>messaging applications</b> (e-mail, instant messaging...) or <b>online storage</b> (DropBox, OneDrive, iCloud, FTP...) to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-frequency" value="1" id="cloud-storage-usage-frequency-1" required {{ was_checked_radio("cloud-storage-usage-frequency", "1") }}>
            {{ _("Never") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-frequency" value="2" id="cloud-storage-usage-frequency-2" {{ was_checked_radio("cloud-storage-usage-frequency", "2") }}>
            {{ _("Rarely") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-frequency" value="3" id="cloud-storage-usage-frequency-3" {{ was_checked_radio("cloud-storage-usage-frequency", "3") }}>
            {{ _("Occasionally") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-frequency" value="4" id="cloud-storage-usage-frequency-4" {{ was_checked_radio("cloud-storage-usage-frequency", "4") }}>
            {{ _("Frequently") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-frequency" value="5" id="cloud-storage-usage-frequency-5" {{ was_checked_radio("cloud-storage-usage-frequency", "5") }}>
            {{ _("Every time") }}
          </label></div>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{_("
          Are you satisfied with the usability of <b>messaging applications</b> (e-mail, instant messaging...) or <b>online storage</b> (DropBox, OneDrive, iCloud, FTP...) to exchange documents between two nearby devices?
        ")}}</legend>
        
        <div class="grid-x">
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="1" id="cloud-storage-usage-satisfaction-1" {{ was_checked_radio("cloud-storage-usage-satisfaction", "1") }}>
            {{ _("Very dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="2" id="cloud-storage-usage-satisfaction-2" {{ was_checked_radio("cloud-storage-usage-satisfaction", "2") }}>
            {{ _("Dissatisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="3" id="cloud-storage-usage-satisfaction-3" {{ was_checked_radio("cloud-storage-usage-satisfaction", "3") }}>
            {{ _("Neutral") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="4" id="cloud-storage-usage-satisfaction-4" {{ was_checked_radio("cloud-storage-usage-satisfaction", "4") }}>
            {{ _("Satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="5" id="cloud-storage-usage-satisfaction-5" {{ was_checked_radio("cloud-storage-usage-satisfaction", "5") }}>
            {{ _("Very satisfied") }}
          </label></div>
          <div class="small-12 large-auto"><label>
            <input type="radio" name="cloud-storage-usage-satisfaction" value="0" id="cloud-storage-usage-satisfaction-0" {{ was_checked_radio("cloud-storage-usage-satisfaction", "0") }}>
            <em>{{ _("Does not apply") }}</em>
          </label></div>
        </div>
      </fieldset>

      {### AIRDROP ###}
      
      <details>
        <summary>
          <h4>{{ _("Click here if you own Apple devices") }}</h4>
        </summary>
        <fieldset>
          <legend>{{_("
            <b>If you own Apple devices</b>, do you use <b>AirDrop</b> to exchange documents between two nearby devices?
          ")}}</legend>
          
          <div class="grid-x">
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="1" id="airdrop-usage-frequency-1" {{ was_checked_radio("airdrop-usage-frequency", "1") }}>
              {{ _("Never") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="2" id="airdrop-usage-frequency-2" {{ was_checked_radio("airdrop-usage-frequency", "2") }}>
              {{ _("Rarely") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="3" id="airdrop-usage-frequency-3" {{ was_checked_radio("airdrop-usage-frequency", "3") }}>
              {{ _("Occasionally") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="4" id="airdrop-usage-frequency-4" {{ was_checked_radio("airdrop-usage-frequency", "4") }}>
              {{ _("Frequently") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="5" id="airdrop-usage-frequency-5" {{ was_checked_radio("airdrop-usage-frequency", "5") }}>
              {{ _("Every time") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-frequency" value="0" id="airdrop-usage-frequency-0">
              <em>{{ _("Does not apply") }}</em>
            </label></div>
          </div>
        </fieldset>

        <fieldset>
          <legend>{{_("
            <b>If you own Apple devices</b>, are you satisfied with the usability of <b>AirDrop</b> to exchange documents between two nearby devices?
          ")}}</legend>
          
          <div class="grid-x">
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="1" id="airdrop-usage-satisfaction-1" {{ was_checked_radio("airdrop-usage-satisfaction", "1") }}>
              {{ _("Very dissatisfied") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="2" id="airdrop-usage-satisfaction-2" {{ was_checked_radio("airdrop-usage-satisfaction", "2") }}>
              {{ _("Dissatisfied") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="3" id="airdrop-usage-satisfaction-3" {{ was_checked_radio("airdrop-usage-satisfaction", "3") }}>
              {{ _("Neutral") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="4" id="airdrop-usage-satisfaction-4" {{ was_checked_radio("airdrop-usage-satisfaction", "4") }}>
              {{ _("Satisfied") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="5" id="airdrop-usage-satisfaction-5" {{ was_checked_radio("airdrop-usage-satisfaction", "5") }}>
              {{ _("Very satisfied") }}
            </label></div>
            <div class="small-12 large-auto"><label>
              <input type="radio" name="airdrop-usage-satisfaction" value="0" id="airdrop-usage-satisfaction-0" {{ was_checked_radio("airdrop-usage-satisfaction", "0") }}>
              <em>{{ _("Does not apply") }}</em>
            </label></div>
          </div>
        </fieldset>
      </details>

      {### COMMENTS ###}

      <h3>{{_("Parting comments")}}</h3>

      <fieldset>
        <legend>{{ _("
          Do you have any comments/remarks regarding your usage of documents exchange between two nearby devices?
        ") }}</legend>

        <div class="grid-x">
          <div class="small-12">
            <p><small>{{ _("Do not communicate any personal information such as your name or e-mail address, as your answers will be made publicly available for the sake of scientific reproducibility.") }}</small></p>

            <textarea name="usage-comments" id="usage-comments" rows="6">{%- if prev_ans -%}{{ prev_ans['usage-comments'] }}{% endif %}</textarea>
          </div>
        </div>
      </fieldset>


      {### SECURITY ###}


      <h2>{{_("Anti-robot question")}}</h2>

      <p>{{ _("This question will prevent simple bots from answering our form. Sorry for the inconvenience.") }}</p>

      <fieldset>
        <legend class="asterisk">{{ _("How much is 5 times three?") }}</legend>
        <input type="text" name="captcha" required>
      </fieldset>

      <input type="hidden" name="guid" value="{{ guid }}">

      {### SUBMIT ###}

      <input type="submit" class="button" value="{{ _('Submit') }}">

    </form>
  </div>
</div>
{% endblock %}