{% extends "base.html" %}

{% block title %}{{_('Home page')}}{% endblock %}


{% block page_title %}
{{_('Whatever happened to direct communication?')}}
{% endblock %}

{% block page_subtitle %}
{{_('An informatics survey')}}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      {{_("As part of a research project on wireless direct Device-to-Device (D2D) communication, we are gathering opinions on <b>how people usually share documents between physically close devices</b>.")}}
    </p>
  </div>

  <div id="contribute" class="large-12 cell">
    <a class="button" href="{{ url_for('frontend.static', page='form') }}">{{_('Answer the poll')}}</a>
  </div>

  <div class="large-12 cell">
    <p>
      {{_("For the sake of scientific reproducibility, the poll's answers will be made publicly available. For that reason, the survey is anonymous by design: it asks for no personal information whatsoever. Please refer to our") }} <a href="{{ url_for('frontend.static', page='privacy') }}">{{ _("Privacy policy") }}</a> {{ _("for more information.")}}
    </p>
  </div>
</div>
{% endblock %}