{% extends "base.html" %}

{% block title %}{{_('Privacy policy')}}{% endblock %}

{% block page_title %}
{{_('Privacy policy')}}
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>{{ _("We collect two types of information: Web Logs, and Survey Answers.")}}</p>

    <h2>{{ _("Web Logs") }}</h2>
    
    <p>{{_("Whenever you visit our website, we collect Web Logs.")}}</p>
    
    <ul>
      <li>
        <b>{{ _("What information?") }}</b> {{ _("Web Logs are composed of your IP address, browser and operating system types, the pages that you visit, and the time and date of your visit.") }}
      </li>
      <li>
        <b>{{ _("Why?") }}</b> {{ _("Being a website host, the law demands that we keep Web Logs. Besides, Web Logs are used to prevent malicious usage of our website, and to improve the comptability of our website in case of bugs.") }}
      </li>
      <li>
        <b>{{ _("For how long?") }}</b> {{ _("We keep Web Logs for up to one year.") }}
      </li>
      <li>
        <b>{{ _("Who has access to this information?") }}</b> {{ _("Only the website administrators have access to this information.") }}
      </li>
    </ul>

    <h2>{{ _("Survey Answers") }}</h2>

    <p>{{ _("
      If you fill-in our survey, your Survey Answers will be stored, and used for our research.<br>
      <em>Survey Answers are anonymous by design.</em> However, once the survey is over, we will ensure that no personally identifiable information has been entered in the free-form text field; and anonymise any such information.<br>
      Finally, for the sake of scientific reproducibility, the Survey Answers will be made publicly available.
    ") }}</p>

    <ul>
      <li>
        <b>{{ _("What information?") }}</b> {{ _("Survey Answers comprise 11 multiple-choice answers, and one free-form text answer.") }}
      </li>
      <li>
        <b>{{ _("Why?") }}</b> {{ _("This information is the very purpose of this website: to collect opinions on D2D usage. Refer to our") }} <a href="{{ url_for('frontend.static', page='project') }}">{{ _("Project description") }}</a> {{ _("for more information.")}}
      </li>
      <li>
        <b>{{ _("For how long?") }}</b> {{ _("Survey Answers will be kept for an unbounded amount of time.") }}
      </li>
      <li>
        <b>{{ _("Who has access to this information?") }}</b> {{ _("After verification of the anonymity of the Survey Answers, it will be published and shared with the scientific community.") }}
      </li>
    </ul>

    <h2>{{_("Cookies")}}</h2>

    <p>{{ _("This website does not use cookies.") }}</p>
  </div>
</div>
{% endblock %}