{% extends "base.html" %}

{% block title %}
{{_('Project description')}}
{% endblock %}

{% block page_title %}
{{_('Project description')}}
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2>{{ _("Who we are") }}</h2>

    <p>
      {{ _("We are a team of researchers in computer sciences from the") }} <a target="_blank" href="https://team.inria.fr/spirals/">{{ _("Spirals team (Lille, France)") }}</a>, {{_("which belongs to the")}} <a target="_blank" href="https://www.cristal.univ-lille.fr/">CRIStAL</a> {{_("research center")}}.<br>

      <div class="grid-x grid-margin-x logos">
          <img class="cell" src="{{ url_for('static', filename='images/logo_spirals.svg') }}" alt="Logo Spirals" />
        
          <img class="cell" src="{{ url_for('static', filename='images/logo_cristal.svg') }}" alt="Logo CRIStAL" />
      </div>

      {{ _("You can contact our team at:")}} <a href="mailto:d2dsurvey@inria.fr">d2dsurvey@inria.fr</a>. {{_("The corresponding researcher for this project is")}} <a target="_blank" href="https://luxeylab.net">Adrien Luxey</a>.
    </p>

    <h2>{{ _("Our research subject") }}</h2>

    <div class="warning callout">
      <p>{{_("Please") }} <a href="{{ url_for('frontend.static', page='form') }}">{{_("Answer the poll")}}</a> {{_("before reading on: don't biase your answers!")}}</p>
    </div>

    <p>{{ _("
    Device-to-device (D2D) communication refers to mobile devices discussing directly with one another, eschewing intermediaries such as a cellular base station.
    D2D has been physically possible using a variety of wireless communication channels for a long time (infrared, Wi-Fi, Bluetooth, NFC...).<br>
    However, the D2D paradigm was never largely adopted by user-facing applications, despite the growth of collaborative use-cases that would benefit from it.
    Instead, most networked applications rely on centralised infrastructures, even for inherently local use-cases such as face-to-face file sharing.<br><br>

    Now that most people in our modern lifestyles walk around carrying a smartphone, the D2D paradigm is more appealing than ever:
    for its low environmental footprint, inherent privacy, and for the pathway it paves to local, personalised and collaborative services.<br><br>

    <b>This survey polls the current solutions used by the public for the most inherently D2D-prone use-case: the exchange of documents between nearby devices.</b>
    ") }}</p>
  </div>
</div>
{% endblock %}