{% extends "base.html" %}

{% block title %}{{_('Thank you!')}}{% endblock %}


{% block page_title %}
{{_('Thank you!')}}
{% endblock %}

{% block page_subtitle %}
{{_('We successfully received your answers')}}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      {{ _("We successfully received your answer to the survey. Now, you can either:") }}
      <ul>
        <li>{{_("read our")}} <a href="{{ url_for('frontend.static', page='project') }}">{{ _("Project description") }}</a>,</li>
        <li>{{_("or let another person answer the")}} <a href="{{ url_for('frontend.static', page='form') }}">{{ _("Poll") }}</a>.</li>
      </ul>

      <b>{{_("Thank you for participating!")}}</b>
    </p>
  </div>
</div>

{% endblock %}
